.icon{
    color: rgb(20, 19, 19);
}


.grid{
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(3, 100px);
      grid-gap: 10px;
}

.grid .box{
     display:  flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(71, 151, 255);
     font-size: 3rem;

}